doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        link(rel="stylesheet", href="global.css")
        script(src="https://cdn.jsdelivr.net/npm/codemirror@5.64.0/lib/codemirror.js")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/codemirror@5.64.0/lib/codemirror.css")
        script(src="https://cdn.jsdelivr.net/npm/codemirror@5.64.0/mode/javascript/javascript.js")
    body 
        div.heading
            div.flex
                h1(data-shadow="moe!") moe!
                h2 moe's Backend